<%include ../partials/header.ejs%>

div.container>div.row>div.col-md-offset-3>col-md-6
div.cotainer>div.row>div.col-md-offset-3>col-md-6


<div>
<div>
<div>
<h1><%=title %></h1>
<br>
<table class="table table-boarder tables-striped table-hover">

<% for(let count=0; count <contactList.length; count++){%> 

<tr>
<td><td>  
<td><td>
<td><td>
</tr>

<%} %>
<br>
</div>
</div>
</div>
<%include ./partials/footer.ejs%>